/*
========================================================================
              / by --- Elegant Division (http://e-div.com)
    Markup  --- for -- Peter Green
              \ in --- 2014
========================================================================
*/

/* Common styles
======================================================================== */
body,
button,
input,
select,
textarea {
	font: 400 1em/1.4em 'Montserrat', Arial, sans-serif;
	color: #000;
}

a {
	color: #777;
}
a:hover {
	text-decoration: none;
}

h1, h2, h3, h4, h4 {
	margin: 0;
	font-weight: 400;
}

.wrap {
	margin: 0 auto;
	width: 980px;
}

/*html,
body {
	min-height: 100%;
}
.body-holder {
	min-height: 100%;
	height: auto !important;
	height: 100%;
	margin-bottom: -160px;
	padding-bottom: 160px;
}*/
.body-holder {
	min-width: 800px;
	min-height: 350px;
}
/* // Common styles - end */


/* Header
======================================================================== */
#header {
	background-color: white; /* #f6ff00 */
	height: 59px;
	padding: 15px;
	margin: auto;
	width: 980px;
}
	#header .h-btn {
		background-color: #fff;
		background-repeat: no-repeat;
		width: 65px;
		margin: 0 14px;
		height: 57px;
		border: solid 1px #cfcfcf;

	}
	#header .h-btn:hover {
		/*background-color: #fafafa;*/
	}
	#header .join {
		float: right;
		background-image: url(/webapp/img/header-profile.png);
		background-position: 10px 6px;
		margin-left: 3px;
	}
	#header .join:hover {
		background-position: 10px -77px;
	}
	#header .user-profile {
		float: right;
		border-radius: 50%;
		overflow: hidden;
		margin: 8px 30px 0 10px;
	}

	#header .user-profile:hover {
		opacity: 0.8;
	}

	#header .user-profile,
	#header .user-profile img {
		width: 40px;
		height: 40px;
	}
	#header .add-thing {
		float: right;
		background-image: url(/webapp/img/header-add.png);
		background-position: 13px 8px;
	}
	#header .add-thing:hover {
		background-position: 13px -82px;
	}
	#header .back {
		float: left;
		background-image: url(/webapp/img/header-back.png);
		background-position: 14px 19px;
		width: 65px;
		height: 57px;
		margin: 0 14 0 0px;
	}
	#header .back:hover {
		background-position: 14px -62px;
	}
	#header .search {
		position: relative;
		border: 1px solid #cfcfcf;
		height: 57px;
		margin-right: 200px;
		overflow: hidden;
	}
		#header .search button {
			float: right;
			margin: 0;
			background-image: url(/webapp/img/header-search.png);
			background-position: 14px 9px;
			position: relative;
			z-index: 2;
			border: 0;
		}
		#header .search button:hover {
			background-position: 14px -81px;
		}
		#header .search input[type="text"] {
			position: relative;
			z-index: 2;
			height: 56px;
			background: transparent;
			border: none !important;
			outline: none !important;
			box-shadow: none !important;
			color: #cfcfcf;
			padding: 0 0 0 19px;
			width: 80%;
			line-height: 0;
		}
		#header .search input[type="text"],
		#header .search-placeholder {
			font-weight: 400;
			font-size: 25px;
			letter-spacing: 0px;
		}
		#header .search-placeholder {
			position: absolute;
			top: -3px;
			left: 19px;
			padding: 20px 0;
			color: #eaeaea;
			font-weight: 400;
			font-size: 25px;
			overflow: hidden;
			white-space: nowrap;

			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			user-select: none;
		}
			#header .search-placeholder em {
				color: #aaa;
				font-style: normal;
			}
#header.logged {
	padding-right: 25px;
}
	#header.logged .search {
		margin-right: 169px;
		margin-left: 26px;
	}
#header.have-back {
	padding-left: 0px;
}
/* // Header - end */


/* Content
======================================================================== */
#breadcrumbs {
	border-bottom: 1px solid #ececec;
	padding: 30px 0 46px;
	margin-bottom: 16px;
}
	#breadcrumbs h3 {
		padding: 0 20px;
		font-size: 12px;
		color: #aaa;
		text-transform: uppercase;
		letter-spacing: 3px;
	}

#things {
}
	#things .thing {
		border-bottom: solid 1px #f5f5f5;
	}
	#things .thing:hover {
		background-color: #f9f9f9;
	}
		#things .user-profile {
			float: right;
			border-radius: 50%;
			overflow: hidden;
			margin: 14px 23px 0 0;
			border: solid 2px transparent;
		}
		#things .user-profile,
		#things .user-profile img {
			width: 38px;
			height: 38px;
		}

		#things .user-profile:hover {
			/* border: solid 2px yellow; */
			width: 40px;
			height: 40px;
		}

		#things .user-profile:hover img {
			/* border: solid 2px yellow; */
			width: 40px;
			height: 40px;
		}		

		#things .rating {
			float: left;
			margin: 16px 0 0 10px;
			width: 22px;
			text-align: center;
			padding: 4px;
			background: #f5f5f5;
			border-radius: 8px;
		}
			#things .vote {
				cursor: pointer;
				height: 20px;
				border-bottom: 1px solid rgba(132,132,132, .2);
				background: url(/webapp/img/vote-arrow.png) no-repeat 7px 7px;
			}
			#things .vote:hover {
				background-color: #DBDBDB;
				background-position: 7px -12px;
				border-radius: 3px;
			}

			#things .vote.voted {
				background-color: rgba(95, 255, 60, 0.26);
				border: 0;
			}

			#things .score {
				color: rgba(41,41,41, .65);
				font-size: 10px;
			}
		#things .link {
			padding: 20px 95px 12px 54px;
			display: block;
			text-decoration: none;
			cursor: pointer;

		}
			#things .link h2 {
				font-size: 19px;
				color: #292929;
				height: 26px;
				letter-spacing: -.5px;

				/* voodoo magic */
				white-space: nowrap;
				overflow: hidden;
				text-overflow: ellipsis;
			}


			#things .link h2 .hash {
				color: #292929;
				display:inline-block;
				padding: 0px;
				border-bottom: solid 1px #ccc;
				/*text-decoration: underline;*/
			}

			#things .link h2 .hash:hover {
				color: #555;
				border-bottom: solid 1px #7e7e7e;
				/*text-decoration: underline;*/
			}


			#things .thing:hover .link h2 {
				color: #000;
			}

			#things .link .bottom {
				font-size: 9px;
				letter-spacing: 1px;
				text-transform: uppercase;
				color: rgba(150,150,150,0.4);
			}
				#things .link .bottom li {
					float: left;
					margin-right: 19px;
				}



#thing-page {
	margin: 46px 0 0;
}
	#thing-page .inner {
		padding-left: 58px;
	}
		#thing-page .story {
			margin-bottom: 32px;
		}
			#thing-page .story .rating {
				float: left;
				margin: -5px 0 0 -59px;
				width: 33px;
				text-align: center;
			}
				#thing-page .story .rating .vote {
					height: 25px;
					background: url(/webapp/img/vote-arrow-inner.png) no-repeat 11px 8px;
					margin-top: 4px;
					border-radius: 3px;
				}
				#thing-page .story .rating .vote:hover {

					background-position: 11px -35px;
					background-color: #eee;
				}
				#thing-page .story .rating .score {
					font-size: 15px;
				}
			#thing-page .story .cover {
				float: right;
				margin: 14px 0 30px 90px;
			}
				#thing-page .story .cover img {
					max-width: 280px;
					max-height: 350px;
				}
			#thing-page .story h1 {
				font-size: 33px;
				line-height: 42px;
				letter-spacing: -1.5px;
				margin-bottom: 27px;
				color: #222;
			}

			#thing-page .story h1 a {
				text-decoration: none;
				border-bottom: solid 1px #bbb;
				color: #222;
			}

			#thing-page .story h1 a:hover {
				text-decoration: none;
				border-bottom: solid 1px #888;
				background: #f5f5f5;
			}

			#thing-page .story p {
				margin: 0px 0 25px;
				font-size: 16px;
				line-height: 27px;
				overflow: hidden;
				letter-spacing: -.7px;
				border-bottom: solid 1px #f1f1f1;
				padding-bottom: 12px;
			}
			#thing-page .story .content {
				max-width: 660px;
				overflow: hidden;
			}

		#thing-page .user-box {
			margin: 0 0 0px -6px;
		}
			#thing-page .user-box li {
				float: left;
			}
			#thing-page .user-box .author {
				width: 290px;
				margin-right: 60px;
				letter-spacing: -.2px;
			}
				#thing-page .user-box .author .pic,
				#thing-page .user-box .participants .pics a,
				#thing-page .user-box .upvoters .pics a {
					float: left;
					margin-right: 16px;
					border-radius: 50%;
					overflow: hidden;
					display: block;
				}
				#thing-page .user-box .author .pic {
					margin-top: 3px;
				}
					#thing-page .user-box .author img,
					#thing-page .user-box .participants .pics a img {
						width: 62px;
						height: 62px;
					}
				#thing-page .user-box .author .name {
					margin-bottom: 3px;
				}
					#thing-page .user-box .author .name a {
						text-decoration: none;
						color: #292929;
						font-size: 16px;
					}
				#thing-page .user-box .author .bio {
					font-size: 12px;
					line-height: 15px;
					overflow: hidden;
				}
			#thing-page .user-box .participants {
				max-width: 368px;
				margin-right: 60px;
			}
				#thing-page .user-box .participants h4,
				#thing-page .user-box .upvoters h4,
				#thing-page .user-box .author h4 {
					color: #aaa;
					font-size: 10px;
					text-transform: uppercase;
					margin: -27px 0 5px;
					letter-spacing: 1px;
				}
				#thing-page .user-box .participants .pics {
				}
					#thing-page .user-box .participants .pics a {
						margin: 3px 10px 10px 0;
					}
			#thing-page .user-box .upvoters {
				max-width: 150px;
			}
				#thing-page .user-box .upvoters h4 {
					margin-bottom: 17px;
				}
				#thing-page .user-box .upvoters .pics a {
					margin: 0 5px 4px 0;
				}
					#thing-page .user-box .upvoters .pics a img {
						width: 23px;
						height: 23px;
					}

		#lets-do-it {
			margin-bottom: 70px;
		}
			#lets-do-it input[type="text"] {
				padding: 0 0 0 20px;
				width: 612px;
				border: 1px solid #cfcfcf;
				background-color: #f8f8fd;
				height: 78px;
				outline: none !important;
				box-shadow: none !important;
				float: left;
				font-size: 24px;
				letter-spacing: -1.5px;
			}
			#lets-do-it.comment input[type="text"] {
				border-color: #d7d7d7;
			}
			#lets-do-it input[type="text"]::-webkit-input-placeholder {
				color: #b1b1b1;
			}
			#lets-do-it input[type="text"]::-moz-placeholder {
				color: #b1b1b1;
			}
			#lets-do-it input[type="text"]::-ms-input-placeholder {
				color: #b1b1b1;
			}
			#lets-do-it button {
				background-color: #cfcfcf;
				border: none;
				height: 80px;
				color: #333;
				font-size: 24px;
				text-transform: uppercase;
				text-align: center;
				font-weight: 600;
				width: 250px;
				word-spacing: -0.01em;
			}
			#lets-do-it button:hover {
				background-color: #222;
				color: white;
			}
			#lets-do-it.comment button {
				background-color: #cfcfcf;
				color: #333;
			}
			#lets-do-it.comment button:hover {
				background-color: #c0c0c0;
				color: #2c2c2d;
			}

		#comments:before {
			content: "Responses & Comments";
			top: -26px;
			position: relative;
			color: #aaa;
			font-size: 10px;
			text-transform: uppercase;
			letter-spacing: 1px;
		}

		#comments {
			width: 770px;
		}
			#comments .pasive {
				margin-bottom: 20px;
			}
			#comments .active {
				margin-bottom: 21px;
			}
				#comments .user-profile {
					float: left;
					border-radius: 50%;
					overflow: hidden;
				}
				#comments .pasive .user-profile {
					margin: -4px 19px 0 1px;
				}
					#comments .pasive .user-profile img {
						width: 29px;
						height: 29px;
						opacity: .5;
					}
				#comments .active .user-profile {
					margin: -3px 14px 0 -3px;
				}
					#comments .active .user-profile img {
						width: 38px;
						height: 38px;
					}
				#comments .message-holder {
					overflow: hidden;
				}
					#comments .pasive .message {
						font-size: 13px;
						line-height: 19px;
						letter-spacing: -.3px;
					}
					#comments .pasive .message,
					#comments .pasive .message a {
						color: #696969;
					}
					#comments .active .message {
						font-size: 24px;
						line-height: 30px;
						letter-spacing: -.4px;
					}
					#comments .active .message .hashtag {
						color: #f6ff00;
					}
					#comments time {
						display: block;
						font-size: 10px;
						color: #cfcfcf;
						margin-top: -2px;
						letter-spacing: -.3px;
					}
/* // Content - end */


/* Footer
======================================================================== */
#footer {
	text-align: center;
	padding: 34px 0 23px;
	border-top: solid 1px #ECECEC;
	text-transform: uppercase;
	margin-top: 50px;
}
	#footer .logo {
		text-decoration: none;
		color: #818181;
		font-weight: 700;
		font-size: 13px;
		margin-bottom: 10px;
		display: inline-block;
	}
	#footer .slogan {
		color: #999;
		font-size: 10px;
		margin-left: 10px;
		line-height: 23px;
		vertical-align: top;		
	}

	#footer .footerabout {
		width: 56%;
		font-size: 11px;
		text-transform: none;
		line-height: 16px;
		margin: 20px auto;
		text-align: justify;
	}
/* // Footer - end */


/* NEWPOST */

.newpost.wrap form input[type="text"], textarea {
	width: 100%;
	margin: 11px 0 5px;
}

.newpost h1 {
	margin: 49px 0 60px;
	font-size: 18px;
	color: #7C7C7C;
}

form input[type="file"] {
	margin: 18px auto 5px;
	display: block;
	background: #eee;

}

form button {
	margin: 50px auto 5px;
	display: block;
	padding: 10px 25px;
	font-size: 40px;
	background: #cfcfcf;
	border: 0;
	font-weight: 600;
	color: #333;
}

form button:hover {
	color: white;
	background: #555;
}


.newpost.wrap form input.largeText {
	font-size: 27px;
}


.newpost.wrap form input.smallText {
	font-size: 20px;
}

form .hint {
	margin: 3px 0 40px 0;
	display: block;
	text-align: center;
	color: #D22;
	letter-spacing: -0.02em;
	font-size: 12px;
}

.newpost.wrap h2 {
	font-size: 22px;
	text-align: center;
	margin: 0 0 20px;
}



.profile .wrap {
	padding-top: 50px;
}

.profile .userdata {
	text-align: center
}

.profile .userdata img {
	display: block;
	margin: 20px auto;
	border-radius: 50%;
	overflow: hidden;
	width: 100px;
	height: 100px;
}

.profile .userdata h3 {
	font-size: 22px;
}

.profile .userdata .tagline {
	width: 270px;
	font-size: 13px;
	line-height: 17px;
	margin: 10px auto;
}

.profile a {
	margin: 0 10px ;
	font-size: 13px;
	color: lightblue;
 }

 .profile .rating a { 
 	margin: 0;
 }


 .editprofile.userdata {
 	padding-top: 50px;
 	min-height: 350px;
 }

 .editprofile.userdata .tagline {

 	font-size: 30px;
 	width: 100%;
 	margin: 30px auto 5px;
 }

 .editprofile.userdata .largeText {

 	font-size: 27px;
 	width: 40%;
 	margin: 0px auto 35px;
 }


  .editprofile.userdata a {

float: right;
 }


.controls {
	margin: 5px 0 0px 54px;
	padding-bottom: 10px;
}

.paginator { 
	text-align: center ; 
	margin-top: 20px;
	border-radius: 2px;
	background-color: #F7F7F7;
}

.paginator:hover {
	background-color: #eee;
}

.paginator a { 
	padding: 20px 0 ; 
	display: block;
	text-decoration: none;
	font-size: 12px;
	color: #bbb;
}

/*
Progress bar
*/

/* Styling for the ngProgress itself */
#ngProgress {
    margin: 0;
    padding: 0;
    z-index: 99998;
    background-color: green;
    color: green;
    /*box-shadow: 0 0 10px 0;  Inherits the font color 
    */
    height: 2px;
    opacity: 0;

    /* Add CSS3 styles for transition smoothing */
    -webkit-transition: all 0.5s ease-in-out;
    -moz-transition: all 0.5s ease-in-out;
    -o-transition: all 0.5s ease-in-out;
    transition: all 0.5s ease-in-out;
}

/* Styling for the ngProgress-container */
#ngProgress-container {
    position: fixed;
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    right: 0;
    z-index: 99999;
}


.noresults { 
	text-align: center;
	padding: 50px 0;
	min-height: 50px;
}

.email-warn {

	color: #8a6d3b;
	background-color: #fcf8e3;
	border-color: #faebcc;
	padding: 15px;
	border: 1px solid transparent;
	border-radius: 2px;
	margin: 15px;
	text-align: center;
	font-size: 14px;
}

.email-warn .dismiss {
	float: right;
	opacity: 0.5;
}
