{% verbatim %}
<!DOCTYPE html>
<html lang="en" ng-app="LdtApp">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Vova Zaytsev, Peter Green, Edward King, Anton Khodakivskiy">
    <title>#Let's do it</title>
    <link rel="stylesheet" href="/webapp/css.min.css" />
    <link rel="shortcut icon" href="/webapp/favicon.png">
    <script src="/webapp/js.heed.min.js"></script>
  </head>
  <body>
    <div id="wrap" ng-view></div>
    <script src="/webapp/js.body.min.js"></script>
  </body>
</html>
{% endverbatim %}