{% verbatim %}
<!DOCTYPE html>
<html lang="en" ng-app="LdtApp">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Vova Zaytsev, Peter Green, Edward King, Anton Khodakivskiy">

    <title>DEBUG</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/webapp/css/reset.css" />
    <link rel="stylesheet" href="/webapp/css/main.css" />
    <link rel="stylesheet" href="/webapp/css/font.css" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/webapp/favicon.png">

    <!-- Java Script -->
    <script src="/webapp/js/vendor/angular.min.js"></script>

  </head>

  <body>

    <div class="body-holder">

        <!-- HEADER -->
        <ng-include src="'/webapp/partials/header.html'"></ng-include>

        <!-- BODY -->
        <div id="wrap" ng-view>

        </div>

    </div>

    <footer id="footer">
        <div class="wrap">
            <a href="#" class="logo">#letsdothis</a>
            <div class="slogan">You don’t need a hackathon to hack.</div>
        </div>
    </footer>

    <!-- Angular libs -->
    <script src="/webapp/js/vendor/angular-route.min.js"></script>
    <script src="/webapp/js/vendor/angular-cookies.min.js"></script>
    <script src="/webapp/js/vendor/angular-sanitize.min.js"></script>
    <script src="/webapp/js/vendor/angular-file-upload.js"></script>
    <script src="/webapp/js/vendor/angular-progress.min.js"></script>

    <!-- Other JS libs -->
    <script src="/webapp/js/vendor/auth0-widget-5.2.min.js"></script>
    <script src="/webapp/js/vendor/auth0-angular-2.js"> </script>
    <script src="/webapp/js/vendor/jquery-2.1.0.min.js"> </script>

    <!-- Angular web app -->
    <script src="/webapp/js/app.js"></script>
    <script src="/webapp/js/directives.js"></script>
    <script src="/webapp/js/common.js"></script>
    <script src="/webapp/js/api.js"></script>
    <script src="/webapp/js/controller/list.js"></script>
    <script src="/webapp/js/controller/post.js"></script>
    <script src="/webapp/js/controller/profile.js"></script>
    <script src="/webapp/js/controller/edit-profile.js"></script>
    <script src="/webapp/js/controller/idea.js"></script>
    <script src="/webapp/js/controller/edit-idea.js"></script>

  </body>
</html>
{% endverbatim %}