<!DOCTYPE html>
<html lang="en" ng-app="LdtApp">

  <head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Vova Zaytsev, Peter Green, Edward King, Anton Khodakivskiy">

    <title>DEBUG</title>

    <!-- CSS -->
    <link rel="stylesheet" href="/webapp/css/reset.css" />
    <link rel="stylesheet" href="/webapp/css/main.css" />
    <link rel="stylesheet" href="/webapp/css/font.css" />

    <!-- Favicon -->
    <link rel="shortcut icon" href="/webapp/favicon.png">

    <!-- Java Script -->
    <script src="/webapp/js/vendor/angular.min.js"></script>



  </head>

  <body>

    <div id="wrap" ng-view>

    </div> <!-- /container -->


    <!-- Angular libs -->
    <script src="/webapp/js/vendor/angular-route.min.js"></script>
    <script src="/webapp/js/vendor/angular-cookies.min.js"></script>
    <script src="/webapp/js/vendor/angular-sanitize.min.js"></script>
    <script src="/webapp/js/vendor/angular-file-upload.js"></script>

    <!-- Auth0 widget script and AngularJS module -->
    <script src="//cdn.auth0.com/w2/auth0-widget-5.2.min.js"></script>
    <script src="//cdn.auth0.com/w2/auth0-angular-2.js"> </script>

    <!-- Other JS libs -->
    <script src="/webapp/js/vendor/auth0-widget-5.2.min.js"></script>
    <script src="/webapp/js/vendor/auth0-angular-2.js"> </script>

    <!-- Angular web app -->
    <script src="/webapp/js/app.js"></script>
    <script src="/webapp/js/api/api-factory.js"></script>
    <script src="/webapp/js/client/list-controller.js"></script>
    <script src="/webapp/js/client/post-controller.js"></script>
    <script src="/webapp/js/client/view-controller.js"></script>
    <script src="/webapp/js/client/profile-controller.js"></script>
    <script src="/webapp/js/client/edit-profile-controller.js"></script>
    <script src="/webapp/js/client/login-controller.js"></script>

  </body>
</html>