<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table table-condensed">
      <tr ng-repeat="project in projectList">
        <td>
          <a href="#/view?projectId={{project.id}}">{{project.title}}</a>
        </td>
        <td>{{project.reputation}}</td>
        <td>
          <img style="width:64;height:64px;" src="{{project.image}}" alt="{{project.creator.name}}" class="img-circle pull-right"/>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-2"></div>
</div>
