<form role="form">

  <div class="form-group">
    <label for="titleForm">Your Idea</label>
    <input type="text" class="form-control" id="titleForm" ng-model="newProject.title">
  </div>

  <div class="form-group">
    <label for="descriptionForm">Describe your idea</label>
    <textarea type="text" class="form-control" id="descriptionForm" ng-model="newProject.description"></textarea>
  </div>

  <div class="form-group">
    <label for="exampleInputFile">Image</label>
    <input type="file" id="exampleInputFile" nv-file-select uploader="uploader">
    <p class="help-block">Image for.</p>
  </div>

  <button class="btn btn-default" ng-click="uploader.uploadAll()">Submit</button>

</form>