<h3>Profile</h3>
<div class="container">
    <img style="width:64;height:64px;" src="{{profileData.image}}" class="img-circle"/><br/>
    {{profileData.firstName}} {{profileData.lastName}}<br/>
    {{profileData.twitter}}<br/>
    {{profileData.tagLine}}<br/>
</div>

<h3>Projects</h3>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table table-condensed">
      <tr ng-repeat="project in profileData.projects">
        <td>
          <a href="#/view?id={{project.id}}">{{project.title}}</a>
        </td>
        <td>{{project.reputation}}</td>
        <td>
          <img style="width:64;height:64px;" src="{{project.image}}" alt="{{project.creator.name}}" class="img-circle"/>
        </td>
      </tr>
    </table>
  </div>
  <div class="col-md-2"></div>
</div>

<h3>Activity</h3>
<div class="row">
  <div class="col-md-2"></div>
  <div class="col-md-8">
    <table class="table table-condensed" ng-show="profileData.activity.length">
      <tr ng-repeat="project in profileData.activity">
        <td>
          <a href="#/view?id={{project.id}}">{{project.title}}</a>
        </td>
        <td>{{project.reputation}}</td>
        <td>
          <img style="width:64;height:64px;" src="{{project.image}}" alt="{{project.creator.name}}" class="img-circle"/>
        </td>
      </tr>
    </table>

    <span ng-show="profileData.activity.length==0">No activity so far..</span>

  </div>
  <div class="col-md-2"></div>
</div>