<img style="width:256px;" src="{{projectData.image}}" class="img-rounded"/>

<h3>{{projectData.title}}</h3>
<h4>Author
<small>{{projectData.creator.firstName}} {{projectData.creator.lastName}}</small>
</h4>

<img style="width:64;height:64px;" src="{{projectData.creator.image}}" class="img-circle"/>

<h4>Other guys</h4>
<ul>
    <li ng-repeat="guy in projectData.team">
        <a href="#/profile?userId={{guy.id}}">
            <img style="width:32px;height:32px;" src="{{guy.image}}" class="img-thumbnail" /> {{guy.firstName}} {{guy.lastName}}
        </a>
    </li>
</ul>

<br/>
<br/>
<br/>

    <div id="disqus_thread"></div>
    <script type="text/javascript">
        /* * * CONFIGURATION VARIABLES: EDIT BEFORE PASTING INTO YOUR WEBPAGE * * */
        var disqus_shortname = 'hackaton2014'; // required: replace example with your forum shortname

        /* * * DON'T EDIT BELOW THIS LINE * * */
        (function() {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
    