<div class="body-holder newpost">

    <header id="header" class="clearfix logged">

            <a href="#" class="user-profile" title="Your profile" ng-show="{{auth.isAuthenticated}}">
                <img src="{{auth.profile.picture}}" alt=""/>
            </a>

            <a href="#" class="join h-btn ir" title="" ng-show="{{!auth.isAuthenticated}}"></a>

            <a href="#/post" class="add-thing h-btn ir" title="Add thing">Add thing</a>
            <div class="search">
                <form action="" method="post">
                    <button type="submit" class="h-btn ir">Search</button>
                    <input type="text" name="search" required />

                    <div class="search-placeholder"><em>#letsdoit</em> find things to build</div>
                </form>
            </div>
        </header>

    <div id="breadcrumbs">
        <div class="wrap">
            <h1>POST NEW IDEA YOU WANT TO BUILD</h1>
        </div>
    </div>



</div>

<footer id="footer">
    <div class="wrap">
        <a href="#" class="logo">#letsdoit</a>
        <div class="slogan">you don’t need a hackathon to hack</div>
    </div>
</footer>