<div class="body-holder">

    <header id="header" class="have-back logged clearfix">
        <a href="#" class="user-profile" title="Your profile">
            <img src="images/avatar.jpg" alt="" />
        </a>
        <!--a href="#" class="join h-btn ir" title=""></a-->
        <a href="#" class="add-thing h-btn ir" title="Add thing">Add thing</a>
        <a href="#" class="back h-btn ir" title="Back">Back</a>
        <div class="search">
            <form action="" method="post">
                <button type="submit" class="h-btn ir">Search</button>
                <input type="text" name="search" required />

                <div class="search-placeholder"><em>#letsdoit</em> find things to build</div>
            </form>
        </div>
    </header>



</div>

<footer id="footer">
    <div class="wrap">
        <a href="#" class="logo">#letsdoit</a>
        <div class="slogan">you don’t need a hackathon to hack</div>
    </div>
</footer>