<p>
    {{creator.nickname}},
</p>

<p>
    Great! You got a new co-hacker! 

</p>
<p>
    <a href="http://dev.letshackthis.com/#/profile?u={{initiator.user_id}}">
        {{initiator.nickname}}
    </a> wants to build your idea with you. They added a comment:
</p>

<p>
    <i>"{{comment.text}}"</i>
</p>

<p>
    Get straight to building! Open <a href="http://dev.letshackthis.com/#/idea?i={{idea.iid}}">the idea page</a> and coordinate the rest with them in the comments.
</p>


<p>
	<br />
    <a href="dev.letshackthis.com">#LETSDOTHIS</a>
</p>
