<div class="wrap newpost">

    <form>
        <h2>Edit Your Idea:</h2>

        <input type="text"
               class="largeText"
               id="title"
               maxlength="60"
               ng-model="idea.title"
               required/>
        <br />

        <span class="hint">
            Only 60 chars. It's your elevator pitch for other hackers. Include only important keywords
        </span>

        <br />

        <h2>Explanation:</h2>

        <textarea type="text"
                  class="smallText"
                  id="desc"
                  rows="4"
                  maxlength="400"
                  ng-model="idea.summary"></textarea>
        <br />

        <span class="hint">
            Max 400 chars. Describe: 1) problem 2) solution (what's included in the MVP) and 3) what skills you lack to accomplish.
        </span>
        <br />

        <h2>Update Mockup</h2>
        <input
            id="fileUploadInput"
            type="file"
            nv-file-select
            uploader="uploader"/>
        <br />

        <span class="hint">
            It's super helpful for explaining the idea to have a mockup or screenshot. Even a sketch on a napkin helps.
        </span>

        <div class="cover" ng-show="idea.pic">
            <img src="/webapp/usercontent/{{idea.pic}}" alt="" />
        </div>

        <button id="IdeaFile" type="submit" ng-click="IdeaUpdate()" />LET'S UPDATE THIS!</button>

    </form>

</div>
