<div id="thing-page">
    <div class="wrap">
        <div class="inner">

            <div class="story clearfix">
                <div class="rating">
                    <a href="#" class="vote ir" title="Vote"></a>
                    <div class="score">{{projectData.upvoters.length}}</div>
                </div>
                <div class="cover">
                    <img src="{{projectData.image}}" alt="" />
                </div>
                <div class="content">
                    <h1>{{projectData.title}}</h1>
                    <p>{{projectData.description}}</p>
                </div>
            </div>

            <ul class="nav clearfix user-box">
                <li class="author">
                    <div class="pic">
                        <a href="#">
                            <img src="{{projectData.creator.userPicture}}" alt="" />
                        </a>
                    </div>
                    <div class="name">
                        <a href="#/profile?userId={{projectData.creator.userId}}">{{projectData.creator.userName}}</a>
                    </div>
                    <div class="bio">{{projectData.creator.tagLine}}</div>
                </li>
                <li class="participants" ng-show="projectData.participants">
                    <h4>{{projectData.participants.length}} participants</h4>
                    <div class="pics">
                        <a href="#/profile?userId={{participant.userId}}" ng-repeat="participant in projectData.participants">
                            <img src="{{participant.userPicture}}" alt="" />
                        </a>
                    </div>
                </li>
                <li class="upvoters" ng-show="projectData.upvoters">
                    <h4>{{projectData.upvoters.length}} upvoters</h4>
                    <div class="pics">
                        <a href="#/profile?userId={{upvoter.userId}}" ng-repeat="upvoter in projectData.upvoters">
                            <img src="{{upvoter.userPicture}}" alt="" />
                        </a>
                    </div>
                </li>
            </ul>

            <div id="lets-do-it" class="clearfix">
                <form action="" method="post">
                    <input type="text" name="hash" placeholder="tag your comment #letsdoit to participate" ng-model="commentText" ng-enter="PostComment()" required />
                    <button ng-click="PostComment()">Lets do it</button>
                </form>
            </div>

            <ul id="comments" class="nav">

                <li ng-class="{active:c.is_part, pasive:!c.is_part}" ng-repeat="c in projectData.comments">
                    <a href="#/profile?userId={{c.author.userId}}" class="user-profile" title="">
                        <img src="{{c.author.userPicture}}" alt="" />
                    </a>
                    <div class="message-holder">
                        <div class="message">
                            {{c.text}}
                        </div>
                        <time>{{c.date}}</time>
                    </div>
                </li>

            </ul>

        </div>
    </div>
</div>