<div id="thing-page" ng-show="idea">
    <div class="wrap">
        <div class="inner">

            <div class="story clearfix">
                <div class="rating">
                    <a style="cursor:pointer;" class="vote ir" title="Vote" ng-click="UpVote()"></a>
                    <div class="score">{{idea.num_votes}}</div>
                </div>
                <div class="cover" ng-show="idea.pic">
                    <img src="/webapp/usercontent/{{idea.pic}}" alt="" />
                </div>
                <div class="content">
                    <h1><span ng-repeat="c in idea.titleChunks"><span ng-show="!c.hw">{{c.t}}</span><a href="#list?q={{c.hw}}" ng-show="c.hw">{{c.t}}</a></span></h1>
                    <p><span ng-repeat="c in idea.summaryChunks"><span ng-show="!c.hw">{{c.t}}</span><a href="#list?q={{c.hw}}" ng-show="c.hw">{{c.t}}</a></span></p>
                    <a href="#/edit-idea/?i={{idea.iid}}" ng-show="idea.editable">Edit</a>
                </div>
            </div>


            <ul class="nav clearfix user-box">
                <li class="author">
                    <div class="pic">
                        <a href="#/profile?u={{idea.creator.uid}}">
                            <img src="{{idea.creator.picture}}" alt="" />
                        </a>
                    </div>
                    <div class="name">
                        <a href="#/profile?u={{idea.creator.uid}}">{{idea.creator.nickname}}</a>
                    </div>
                    <div class="bio">{{idea.creator.tagline}}</div>
                </li>
                <li class="participants" ng-show="idea.num_members>0">
                    <h4>{{idea.num_members}} participants</h4>
                    <div class="pics">
                        <a href="#/profile?u={{member.uid}}" ng-repeat="member in idea.members">
                            <img src="{{member.picture}}" alt="" />
                        </a>
                    </div>
                </li>
                <li class="upvoters" ng-show="idea.num_votes>0">
                    <h4>{{idea.num_votes}} upvoters</h4>
                    <div class="pics">
                        <a href="#/profile?u={{member.uid}}" ng-repeat="member in idea.votes">
                            <img src="{{member.picture}}" alt="" />
                        </a>
                    </div>
                </li>
            </ul>

            <div id="lets-do-it" class="clearfix">
                <form method="POST">

                    <input type="text"
                           name="hash"
                           placeholder="tag your comment #letsdothis to participate"
                           ng-model="commentText"
                           ng-enter="PostComment()"
                           required />

                    <button ng-click="PostComment()">Lets do this!</button>

                </form>
            </div>

            <ul id="comments" class="nav">

                <li ng-class="{active:comment.status, pasive:!comment.status}"
                    ng-repeat="comment in idea.comments">

                    <a href="#/profile?u={{comment.creator.uid}}" class="user-profile" title="">
                        <img src="{{comment.creator.picture}}" alt="" />
                    </a>

                    <div class="message-holder">
                        <div class="message">
                            {{comment.text}}
                        </div>
                        <time>{{comment.created | parseIsoDate | date:"medium"}}</time>

                    </div>

                </li>
            </ul>

        </div>
    </div>
</div>


<div id="thing-page" ng-show="!idea">
    <div class="wrap">
        <div class="inner">
            Idea not found
        </div>
    </div>
</div>
