<div id="breadcrumbs">
    <div class="wrap">
        <h3>latest ideas</h3>
    </div>
</div>

<div class="wrap">
    <ul id="things" class="nav" ng-show="ideas.length>0">
        <li class="thing" ng-repeat="idea in ideas">
            <a href="#/profile/?u={{idea.creator.uid}}" class="user-profile" title="{{idea.creator.nickname}}">
                <img src="{{idea.creator.picture}}" alt="" />
            </a>
            <div class="rating">
                <a style="cursor:pointer;" ng-click="UpVote(idea.iid)" class="vote ir" title="Vote"></a>
                <div class="score">{{idea.num_votes}}</div>
            </div>
            <a href="#/idea/?i={{idea.iid}}" class="link">
                <h2>{{idea.title}}</h2>
                <ul class="bottom clearfix">
                    <!-- <li>10 talking</li> -->
                    <li>{{nickname.num_members}} participants</li>
                </ul>
            </a>
        </li>
    </ul>
</div>

<div ng-show="ideas.length==0">
    No results
</div>