<div id="breadcrumbs">
    <div class="wrap">
        <h3>Latest ideas</h3>
    </div>
</div>

<div class="wrap">
    <ul id="things" class="nav" ng-show="ideas.length>0">
        <li class="thing" ng-repeat="idea in ideas">
            <a href="#/profile/?u={{idea.creator.uid}}" class="user-profile" title="{{idea.creator.nickname}}">
                <img src="{{idea.creator.picture}}" alt="" />
            </a>
            <div class="rating">
                <a style="cursor:pointer;" ng-click="UpVote(idea.iid)" class="vote ir" title="Vote"></a>
                <div class="score">{{idea.num_votes}}</div>
            </div>
            <div ng-click="$root.OpenIdea(idea.iid)" class="link">
                <h2>
                    <span ng-repeat="c in idea.titleChunks">
                        <span ng-show="!c.hw">{{c.t}}</span><span class="hash" ng-click="SearchHashtag(c.hw)" ng-show="c.hw">{{c.t}}</span>
                    </span>
                </h2>
                <ul class="bottom clearfix">
                    <!-- <li>10 talking</li> -->
                    <li>{{idea.num_members}} participants</li>
                </ul>
            </div>
        </li>
    </ul>

    <div class="paginator" ng-show="loadMore">
        <a style="cursor:pointer;" ng-click="LoadMore()">Load more</a>
    </div>

</div>


<div ng-show="ideas.length==0" class="wrap noresults">
    No results :(
</div>
