<div class="wrap newpost">

  <h1>Got anything you just wanna build?</h1>

    <form>
        <h2>Idea:</h2>

        <input type="text"
               class="largeText"
               id="title"
               maxlength="60"
               ng-model="ideaTitle"
               required/>
        <br />

        <span class="hint">
            60 chars. It's your elevator pitch for other hackers. Include only important keywords. #Hashtags supported.
        </span>

        <br />

        <h2>Explanation:</h2>

        <textarea type="text"
                  class="smallText"
                  id="desc"
                  rows="4"
                  maxlength="400"
                  ng-model="ideaSummary"></textarea>
        <br />

        <span class="hint">
            400 chars. Describe your idea (problem, solutio/MVP). Must include <strong>what you commit</strong> and what you lack to build this (skills, resources). #Hashtags supported
        </span>
        <br />

        <h2>Have Mockup?</h2>
        <input
            id="fileUploadInput"
            type="file"
            nv-file-select
            uploader="uploader"/>
        <br />

        <span class="hint">
            It's super helpful for explaining the idea to have a mockup or screenshot. Even a sketch on a napkin helps.
        </span>

        <button id="IdeaFile" type="submit" ng-click="IdeaCreate()" />LET'S DO THIS!</button>

    </form>

</div>