<div class="wrap newpost">

  <h1>What would you like to build?</h1>

    <form>
        <h2>Idea:</h2>

        <input type="text"
               class="largeText"
               id="title"
               maxlength="60"
               ng-model="ideaTitle"
               required/>
        <br />

        <span class="hint">
            60 chars max. It's your elevator pitch for other hackers. #hashtags supported and increase discoverability.
        </span>

        <br />

        <h2>Explanation:</h2>

        <textarea type="text"
                  class="smallText"
                  id="desc"
                  rows="4"
                  maxlength="400"
                  ng-model="ideaSummary"></textarea>
        <br />

        <span class="hint">
            400 chars. This is critical! Describe your idea (problem, solution/MVP). <br />Must include <strong>what you commit</strong> and what you lack to build this (skills, resources). #hashtags supported
        </span>
        <br />

        <h2>Have Mockup?</h2>
        <input
            id="fileUploadInput"
            type="file"
            nv-file-select
            uploader="uploader"/>
        <br />

        <span class="hint">
            Really helpful to convey the idea is having a visual mockup or screenshot.
        </span>

        <button id="IdeaFile" type="submit" ng-click="IdeaCreate()" />LETSDOTHIS!</button>

    </form>

</div>